*{
    margin: 0px;
    padding:0px;

}
.main-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

   font-weight: bolder;

}
.input{

    height:35px;
    width: auto;
    border: 2px solid grey;
    border-radius: 5px;
    margin-right: 5px;

}
.pingSection{
    margin-top: 20px;


    
}
.pingHeading{
    display:block;
    width:100%
}

.Pingbtn{

    height:34px;
    width: auto;
    padding: 5px;

    border-radius: 5px;
    background-color: rgb(109, 153, 136);

}

.main-heading{

    margin-top: 40px;

}
.Pingbtn:hover{

 background-color: rgb(13, 112, 74);
}

